# gradle

.gradle/
build/
out/
classes/
libs/
output/
bin/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings
.vscode
.classpath
.project
.metadat

# macos

*.DS_Store

# fabric

run/
/old-buildstuff/
/old-src/
